<h1><%= @merchant.name %></h1>

<% @items.each do |item| %>
  <div id="item-<%= item.id %>"><p>Name: <%= item.name %></p>
  <p>Description: <%= item.description %></p>
  <p>Price: <%= item.unit_price %></p></div>
<% end %>